.header {
  background-color: #221f1f;
  color: #e50914;
  border: solid 1px #e50914;
  /* width: 100%; */
  height: 10%;
  display: flex;
}

.logocontainer {
  width: 50%;
}

.logo {
  height: 60px;
  /* padding: 1%; */
  cursor: pointer;
}
