@import url("https://fonts.googleapis.com/css2?family=Netflix+Sans&display=swap");

.main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #221f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #e50914;
  font-family: "Netflix Sans", sans-serif;
  font-size: 200px;
  display: flex;
  justify-content: center;
  position: relative;
}

.title span {
  display: inline-block;
  margin: 0 2px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 95px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .title {
    font-size: 200px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .title {
    font-size: 250px;
  }
}

@media screen and (min-width: 1201px) {
  .title {
    font-size: 300px;
  }
}
