.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  /* padding: 2.5%; */
  padding-top: 0.7%;
  padding-bottom: 0.3%;
  height: auto;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: black;
}

.logo {
  width: 100px;
  object-fit: contain;
}

.avatar {
  width: 35px;
  object-fit: contain;
  /* border-radius: 50%; */
}

.liste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  /* padding-top: 5%; */
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 600;
}

.block1 {
  /* width: 10%; */
  padding-left: 2%;
}

.block2 {
  /* width: 80%; */
  /* width: 40%; */
  /* display: flex;
  justify-content: left; */
}

.block3 {
  /* width: 10%; */
  padding-right: 2%;
}

.cursor {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .logo {
    /* padding-top: 50%; */
    width: 80px;
  }
  .avatar {
    /* padding-top: 50%; */
    width: 30px;
  }
  .block2 {
    width: 50%;
  }
  .block3 {
    padding-right: 3%;
  }
  .liste {
    padding-top: 5%;
  }
  .nav {
    /* height: 4.5%; */
    padding-top: 1%;
  }
}
